{% extends 'show_info/layout.html' %}

{% block content %}
    {% if category_post %}
        {% for new in category_post %}
            <div class="card">
                <p class="date">{{ new.date }}</p>
                {% if new.photo %}
                    <img src="{{ new.photo.url }}">
                {% endif %}
                <a href="{{ new.get_absolute_url }}"><h5>{{ new.title }}</h5></a>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <h2>No news</h2>
        </div>
    {% endif %}
{% endblock %}
